:root {
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    cursor: url("/src/assets/images/cursor.webp"), auto;
    font-size: 10px;
}

body::-webkit-scrollbar {
    display: none;
}

img {
    display: block;
    max-width: 100%;
    transition: 0.3s;
}

figure {
    position: relative;
    margin: 0;
}

[previewable]:hover {
    cursor: url("/src/assets/images/cursor-hover.webp"), auto;
}
