@font-face {
    font-family: "Folkard";
    src: url("/src/assets/font/Folkard.ttf");
}

@font-face {
    font-family: "Warcraft";
    src: url("/src/assets/font/Warcraft.ttf");
}

@font-face {
    font-family: "Akaya";
    src: url("/src/assets/font/Akaya.ttf");
}
